
.YesButton button{
    &:hover,
    &:active,
    &:focus {
        background-color: #625BAD;
        color: #ffffff;
        border-color: transparent;
    }

}
.AskModal{
    background-color: rgba(196, 196, 196, 0.5);
    
   .modal .show{
       background: #F1F4FA;
   }
    .modal-dialog {

        width: 100rem;
        justify-content: center ;
     }

    .modal-body{
        margin-top: 2rem;
        text-align: center;
        padding: 0;
        
    }
    
    .modal-header {
        padding-top: 3.5rem;
               border-bottom: none ;
    }
    
    .modal-content {
        align-items: center ;
        border-radius: 0.75rem ;
        border: none;
        box-shadow: 1rem ;
        background: #F1F4FA;
        height: 25rem;
        width: 25rem ;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);


    }
  
    
    .modal-footer {
    padding-bottom: 4rem ;
        border: none ;
    }
}