.unpinned__container {
    margin-left: 400px;
    margin-right: 5rem;
}

.unpinned__date {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    margin: 2rem auto;
    h3 {
        margin: auto 1rem;
    }
}

.unpinned__top {
    display: flex;
    align-items: center;
    margin: 1rem auto;
    
    p {
        margin: 0;
    }
    img {
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
    }
}

.unpinned__wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: auto;
}

.unpinned__card {
    background-color: #FFBCC2;
    // width: 100%;
    width: 350px;
    height: 200px;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
    overflow: auto;
}

.unpinned__title {
    display: flex;
    justify-content: space-between;
    width: 300px;
    img {
        width: 1rem;
        height: 1rem;
    }
}

.unpinned__time {
    width: 300px;
}

.unpinned__content {
    // width: 300px;
    // height: 150px;
    p {
        overflow-wrap: break-word;
    }
}

@media (max-width: 1024px) {

    .unpinned__borderLine {
        img {
        width: 55%;
        }
    }
}

// @media (max-width: 768px) {
//     .unpinned__container {
//         margin-right: 0;
//     }
// }
@media (max-width: 768px) {
    .unpinned__container {
      margin-right: 2rem;
    }
  
    .unpinned__borderLine {
      img {
  
        width: 21rem ;
      }
    }
  }