.unpinned__container {
  margin-left: 400px;
  margin-right: 5rem;
}

.unpinned__date {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin: 2rem auto;
  h3 {
    margin: auto 1rem;
  }
}

.unpinned__top {
  display: flex;
  align-items: center;
  margin: 1rem auto;

  p {
    margin: 0;
  }
  img {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
  }
}

.unpinned__wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: auto;
}

.unpinned__content {
  p {
    overflow-wrap: break-word;
  }
}

.unpinned__title {
  max-width: 300px;
  h5 {
    overflow-wrap: break-word;
  }
}

.unpinned__card {
  background-color: #ffbcc2;
  display: flexbox;
  flex-direction: column;
  // box-sizing:content-box;
  overflow: auto;
  width: 350px;
  height: 200px;
  // max-width: 250px;
  // max-height: 300px;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  text- .unpinned__title {
    display: flex;
    justify-content: space-between;
    img {
      width: 1rem;
      height: 1rem;
    }
  }
}

.unpinned__card::-webkit-scrollbar {
  display: none;
}

.unpinned__card {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

@media (max-width: 1024px) {
  .unpinned__borderLine {
    img {
      width: 55%;
    }
  }
}

@media (max-width: 768px) {
  .unpinned__container {
    margin-right: 0;
  }
}
