.EventCalendar{
    .calendarWrapper {
        width: 400px;
        height: 350px;

        .calendarHeader {
            border-bottom: none;

            .calendarHeaderButtons {
                margin: 0;

        }
            h1 {
                margin: 1rem auto;
                font-size: 30px;
                padding-left: 1em;
            }
        }
        .dailyTimeLineWrapper {
            height: 220px;
        }
//=======================
        .modeWrapper {
            button {
                display: none;
            }
        }
//=======================
            .weekRow {
                border-bottom: none;
                .dayCell {
                    height: 3rem;
                    text-align: center;
                    .dayDate {
                        .currentDay {
                        background: #625BAD;
                        border-radius: 10px;
                        width: 20px;
                        height: 30px;
                         span {
                             color: white;
                         }
                        }
                    }
                }
            }
        }
}