.UnPinnedContainer{
    height: 18rem;
    width: 27.5rem;
    border-radius: 20px;
    padding-top: 2rem;
    padding-left: 1.75rem;
    padding-right: 2rem;
}

.UnPinnedTittle img{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
}

.CardContainer {
    height: 13.5rem;
    width: 24rem;
    border-radius: 20px;
    padding-top: 2rem;
    padding-left: 1.75rem;
    padding-right: 2rem;
    
}

.CardTittle p {
    font-size: 1rem;
    font-weight: 700;
}

.CardContainer img {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;

}

.CardTanggal p {
    font-size: 0.8rem;
    margin-top: -0.2rem;
    color: rgba(52, 45, 80, 0.5);
}

.MainNotes {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    
}