$primary: #F1F4FA ;
$secondary: #B6C6E5 ;
$warning: #625BAD ;
$pink: #FFBCC2;
$lemon: #F4EEE8;
$green: #8CFAEF;
$red: #FF8888;
$purple: #B1A8FF;
$dark: #342D50;
$light: #F1F4FA;

@import "~bootstrap/scss/bootstrap.scss";