$primary: #f1f4fa;
$secondary: #b6c6e5;
$warning: #625bad;
$pink: #ffbcc2;
$lemon: #f4eee8;
$green: #8cfaef;
$red: #ff8888;
$purple: #b1a8ff;
$dark: #342d50;
$light: #f1f4fa;

@import "~bootstrap/scss/bootstrap.scss";
