* {
  font-family: 'Poppins', sans-serif;
}

.note__outside {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.note__outside.modal-backdrop {
  background-color: rgba(200, 200, 200, 0.5);
}

.note__container {
  width: 594px;
  background: #F1F4FA;
  -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.note__wrapper {
  padding: 20px;
}

.note__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.note__title h1 {
  margin: 0;
}

.note__pin button {
  border-radius: 21px;
  background: #B6C6E5;
  border-radius: 20px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
  width: 5rem;
}

.note__pin button:hover, .note__pin button:focus, .note__pin button:active {
  background-color: #625BAD;
  color: white;
  border: 1px solid #625BAD;
}

.note__pin button h6 {
  margin: 0;
  color: #ffffff;
}

.note__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.note__content textarea, .note__content input {
  border: 1px solid #B6C6E5;
  border-radius: 10px;
  outline: none;
}

.note__content .note__input {
  margin-bottom: 1rem;
}

.note__content textarea.note__textarea {
  height: 221px;
  padding-left: 10px;
  padding-top: 10px;
}

.note__content input.note__input {
  height: 40px;
  padding-left: 10px;
}

.note__color {
  margin-top: 1rem;
}

.note__color h5 {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}

.note__color button {
  border-radius: 21px;
  width: 40px;
  height: 40px;
  border: none;
  margin-right: 0.8rem;
}

.note__color button:hover, .note__color button:focus, .note__color button:active {
  background-color: #625BAD;
  color: white;
  border: 1px solid #625BAD;
}

.note__color button.color1 {
  background-color: #FFBCC2;
}

.note__color button.color2 {
  background-color: #FCF3A1;
}

.note__color button.color3 {
  background-color: #D1CDFA;
}

.note__color button.color4 {
  background-color: #FF8888;
}

.note__color button.color5 {
  background-color: #CCF0D7;
}

.note__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto;
}

.note__footer button {
  background-color: transparent;
  border: 1px solid #625BAD;
  border-radius: 21px;
  width: 129px;
  font-size: 20px;
  color: #625BAD;
  margin-right: 1rem;
}

.note__footer button:hover, .note__footer button:active, .note__footer button:focus {
  background-color: #625BAD;
  color: #ffffff;
}

.note__close button {
  background: none;
  border: none;
  font-size: 30px;
}

.note__close button img {
  margin-left: 30px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=ModalNote.css.map */