* {
    font-family: 'Poppins', sans-serif;
}

.newUser__intro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.newUser__logo img {
    width: 45px;
}

.newUser__greet h3 {
    font-size: 30px;
    font-weight: 500;
}

.newUser__card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.newUser__card__logo {
    background-color: #F1F4FA ;
    border-radius: 20px;
    text-align: center;
    /* height: 28em; */
}

.newUser__card__logo h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    margin: 0;
}

.newUser__card__logo h5 {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    margin-top: 0;
}

.react-calendar {
    border: none;
    height: 28em;
    line-height: 2em;
    background-color: #F1F4FA;
    border-radius: 20px;
    margin-left: 27px;
    font-size: 12px;
    font-weight: 400;
}

.react-calendar__tile--active {
    border-radius: 20px;
    background: #625BAD;
    height: 43.01px;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    border-radius: 20px;
    background: #625BAD;
    height: 43.01px;
}