.ModalSignUp{

    .modal-dialog {
        justify-content: center ;
        max-width: 25rem ;
        
    
    }
    .modal-body{
        text-align: center;
        
    }
    .modal-header {
        padding-top: 3.5rem ;
        min-height: 10rem;
        border-bottom: none ;
    }
    
    .modal-header img {
        width: 100px;
    
    }
    
    .modal-content {
        align-items: center ;
        border-radius: 0.75rem ;
        border: none;
        box-shadow: 1rem ;
    }
    
    .ModalSignUp p {
        max-width: 20rem ;
    
        font-size: 1.5rem;
        text-align: center;
    }
    
    .modal-footer {
    padding-bottom: 4rem ;
        border: none ;
    }
}

.ButtonUngu {
    
        border: 1px solid #625BAD !important;
        border-radius: 40px;
        background-color: #625BAD;
        color: #ffffff;
        height: 2.5rem;
    
}

.ButtonUnguOutline {
    
    border: 1px solid #625BAD !important;
    border-radius: 40px;
    
    color: #625BAD;
    height: 2.5rem;

}